<%= render "govuk_publishing_components/components/layout_header", {
  environment: "Development"
} %>

<p style="color: green"><%= notice %></p>

<div class="govuk-width-container">

<%= render "govuk_publishing_components/components/heading", {
  text: "Micropigs"
} %>

<%= render "govuk_publishing_components/components/table", {
  head: [ { text: "Name" }, { text: "Age", format: "numeric" }, { text: "" }],
  rows: @micropigs.map { |micropig|
    [
      { text: micropig.name },
      { text: micropig.age, format: "numeric" },
      { text: link_to("view", micropig) },
    ]
  },
} %>

<%= render "govuk_publishing_components/components/button", {
  text: "New micropig",
  href: new_micropig_path
} %>

</div>

